.card-ppa{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:98%;
    margin:0 auto;
  }
  .card-Services {  
    box-sizing: border-box;
    width: 90%;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 2em 2em 0;
    margin:1em 1em;

  }
  .card-Services .content {
    padding: 10px 20px 5px 20px ;
    text-align: center;
    color: #111;
  }
  
  .card-Services .imgbox {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    width: 100%;
    height:320px;  
    /* min-height:50px; */
    /* margin-top: -55px; */
    border-radius: 10px; 
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    
  }
  .card-Services .imgbox.BCCA {
    background: no-repeat center url('../images/BCC\ church.jpg');
    background-size:cover;
  }
  
  .card-Services .imgbox.ACCA {
    background: no-repeat center url('../images/ACCA\ Center.jpeg');
    background-size:cover;
  }
  .card-Services .imgbox h2 {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    background-color: #d1d6db;
    width: 100%;
  }
  
  .card-Services .content p {
    color: #706767;
    
  letter-spacing:.05em;
  }
  .card-Services .imgbox h2 {
    font-size:2rem;
  margin:0 0 .5em 0;
  padding:.2em .5em;
  letter-spacing:.08em;
  
  
    color: #6e8aa7;
    border:1px solid #6e8aa7;
    border-radius:2%;
  }
  .card-Services .content h3.box-title {
    height: 2.7em;
    font-size: 1.5rem;
    margin:0;
    color: #636161;
    letter-spacing:.05em;
  }
  /* .card-Services .content h3 {

  } */
  .box-time{
    margin: .5em 0;
  }
  .copyright{
    font-size: .8em;
  }

  @media screen and (min-width:600px) {
    section.services{
      max-width: 1000px;
      margin: 0 auto;
    }
    .card-ppa{
      margin-top: 2em;
    }
    .card-ppa {  
      flex-direction:row;  
      align-items:flex-start; 
    }
    .card-Services {
      width: 98%;
      display:flex;
      flex-direction:column;
    
      border-radius: 10px;
      box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
      transition: 0.3s;
      padding: 2em .5em 0;
      margin:1em .5em;
    }

  
.card-Services .imgbox h2 {
    box-sizing: border-box;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0.5em;
    letter-spacing: .08em;
    color: #6e8aa7;
    border: 1px solid #6e8aa7;
    border-radius: 2%;
}

/* .card-Services .content h3 {
  
} */
.card-Services .content h3.box-title {
  height: 2.7em;
  font-size: 2rem;
}
.box-time{
  margin: 0;
  line-height: 1.2em;
}
  }
  @media screen and (min-width:800px) {
    .card-ppa{
      margin-top: 1em;
      align-items: stretch;
    }
    .card-Services .content h3 {
      font-size:1.5rem;
    }
    .card-Services .content h3.box-title {
      height: 2.7em;
    }
    .box-time{
      font-size: 2rem;
      margin: 0;
      line-height: 1.2em;
  }
}
  @media screen and (min-width:900px) {
  
    .card-Services {  
      border-radius: 10px;
      box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
      transition: 0.3s;
      padding: 2em 1em 0;
      margin:1em 1em;
  
    }
  }
